<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<!-- Configure Bean -->
	<bean id="helloWorld" class="com.tony.spring.beans.HelloWorld">
		<property name="name" value="Tony"></property>

	</bean>

	<!-- By Constructor, we can configure parameters' index and type for distinct overload constructors -->
	<bean id="car" class="com.tony.spring.beans.Car">
		<constructor-arg value="Audi" index="0"></constructor-arg>
		<constructor-arg value="ShangHai" index="1"></constructor-arg>
		<constructor-arg value="300000" type="double"></constructor-arg>

	</bean>
	<bean id="car2" class="com.tony.spring.beans.Car">
		<constructor-arg value="BaoMa" type="java.lang.String"></constructor-arg>
		<constructor-arg value="ShangHai" type="java.lang.String"></constructor-arg>
		<constructor-arg value="240" type="int"></constructor-arg>

	</bean>

</beans>
